@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Primary */
	--Pale-blue: hsl(225, 100%, 94%);
	--Bright-blue: hsl(245, 75%, 52%);

	/* Neutral */
	--Very-pale-blue: hsl(225, 100%, 98%);
	--Desaturated-blue: hsl(224, 23%, 55%);
	--Dark-blue: hsl(223, 47%, 23%);
}

body {
	font-family: "Red Hat Display", sans-serif;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--Pale-blue);
}

.container {
	background-color: var(--Very-pale-blue);
	max-width: 350px;
	border-radius: 10px;
	overflow: hidden;
}

img {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.all-content {
	padding: 20px;
}

.text-content {
	text-align: center;
}

.text-content h2 {
	font-weight: 900;
	margin-bottom: 20px;
}

.text-content p {
	font-size: 1em;
	margin-bottom: 20px;
	color: var(--Desaturated-blue);
}

.price-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
	background-color: hsl(225, 100%, 94%, 0.5);
	padding: 20px;
	border-radius: 10%;
}

#change {
	color: hsl(271, 68%, 52%);
	font-weight: 700;
}

#change:hover {
	text-decoration: none;
}

.center-text {
	line-height: 25px;
	flex: 2;
	margin-left: 20px;
}

.center-text p {
	color: var(--Desaturated-blue);
}

.cta-1 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: var(--Bright-blue);
	border-radius: 10px;
	box-shadow: 0px 15px 30px -15px #111;
}

.cta-1 a {
	text-decoration: none;
	color: var(--Very-pale-blue);
	display: block;
}

.cta-1:hover {
	background-color: hsl(271, 68%, 52%);
}

.cta-2 {
	text-align: center;
	padding-bottom: 10px;
	margin-top: 25px;
}

.cta-2 a {
	text-decoration: none;
	color: var(--Desaturated-blue);
	font-weight: 900;
}

/* Hover states */

.cta-2 a:hover {
	color: black;
}
